# Dépendances
node_modules/
backend/node_modules/

# Next.js
.next/
out/

# Environnement
.env
.env.local
.env.production

# Fichiers temporaires
*.backup
pages/backup_p4/

# Firebase clé privée
serviceAccountKey.json
scripts/serviceAccountKey.json
backend/serviceAccountKey.json